body, .bgcolor{
    background: #ebe8e8;
}
/* header-sec-start */
.bolder{
    font-size: 50px;
}
.carou{
    margin-top: 89px;
}
.imgg {
    opacity: .75;
    }
.explor{
    background: #F4FAFD;
}
/* course-img-start */
.optional{
    width: 100%;
    height: 100%;
}
.list{
    list-style: none;
}
.list-stl{
    color:gold ;
}
.quotee{
    font-weight: 700;

}
/* company-section-css */
.company-ul{
    text-align: center;
    list-style: none;
}
.company-li{
    
    margin: 25px;

}
.company-li img{
    width: 100px;
}

/* footer-css-add */
.ulli{
    list-style: none;
}
.list-itemm{
    margin: 15px;
}
.edit{
    font-size: 50px;
}