body, .bgcolor{
    background: #ebe8e8;
}
.carou{
    margin-top: 89px;
}
.explor{
    background: #F4FAFD;
}
.list{
    list-style: none;
}
.list-stl{
    color:gold ;
}
.quotee{
    font-weight: 700;

}
.company-ul{
    text-align: center;
    list-style: none;
}
.company-li{
    
    margin: 25px;

}
.company-li img{
    width: 100px;
}